<div class="panel panel-primary">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">{{overview}}</div>
</div>

<div class="panel" ng-class="{'panel-success': match.winLoseDraw == 'win', 'panel-warning': match.winLoseDraw == 'draw', 'panel-danger': match.winLoseDraw == 'lose', 'panel-primary': match.winLoseDraw == 'scout'}" ng-repeat="match in matches track by $index">
    <div class="panel-heading">{{match.title}}</div>
    <div class="panel-body">{{match.date}}</div>

    <tabset>
        <tab title="Scout Report" template-url="scoutReport.html"></tab>
        <tab title="Match Report" template-url="matchReport.html"></tab>
        <tab title="Highlights" template-url="highlights.html"></tab>
        <tab title="Photos" template-url="photos.html"></tab>
    </tabset>

    <div class="panel-footer">TEAM - <span style="margin-right:5px" ng-repeat="player in match.team">{{player}}{{$last ? '' : ','}}</span></div>
    <div class="panel-footer">MOTM - {{match.motm}}</div>
    <div class="panel-footer">GOALS - <span style="margin-right:5px" ng-repeat=" scorer in match.goals track by $index">{{scorer}}{{$last ? '' : ','}}</span></div>
</div>
