<div class="panel panel-primary">
    <div class="panel-heading">Overall Player Stats</div>
    <table class="table">
        <tr>
            <td><strong>Player</strong></td>
            <td><strong>Appearances</strong></td>
            <td><strong>Goals</strong></td>
            <td><strong>MOTM</strong></td>
        </tr>
        <tr ng-repeat="player in players">
            <td>{{player.name}}</td>
            <td>{{player.appearances}}</td>
            <td>{{player.goals}}</td>
            <td>{{player.motm}}</td>
        </tr>
    </table>
</div>

<div class="panel panel-primary" ng-repeat="awards in seasonAwards">
    <div class="panel-heading">End of Season {{$index + 1}} Awards</div>
    <table class="table">
        <tr>
            <td><strong>Award</strong></td>
            <td><strong>Winner</strong></td>
        </tr>
        <tr>
            <td>Most Appearances</td>
            <td>{{awards.appearances}}</td>
        </tr>
        <tr>
            <td>Top Goalscorer</td>
            <td>{{awards.goalscorer}}</td>
        </tr>
        <tr>
            <td>Best Goals to Games Ratio</td>
            <td>{{awards.ratio}}</td>
        </tr>
        <tr>
            <td>Man of the Season</td>
            <td>{{awards.player}}</td>
        </tr>
    </table>
</div>