<div class="row center-block">
    <button class="btn col-md-2 col-xs-2" ng-click="orderByField='appearances'; reverseSort = !reverseSort">
        Appearances <span ng-show="orderByField == 'appearances'">
            <span class="caret" ng-show="!reverseSort"></span>
            <span class="dropup">
                <span class="caret" ng-show="reverseSort"></span>
            </span>
        </span>
    </button>

    <button class="btn col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1" ng-click="orderByField='goals'; reverseSort = !reverseSort">
        Goals <span ng-show="orderByField == 'goals'">
            <span class="caret" ng-show="!reverseSort"></span>
            <span class="dropup">
                <span class="caret" ng-show="reverseSort"></span>
            </span>
        </span>
    </button>

    <button class="btn col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1" ng-click="orderByField='motm'; reverseSort = !reverseSort">
        MOTMs <span ng-show="orderByField == 'motm'">
            <span class="caret" ng-show="!reverseSort"></span>
            <span class="dropup">
                <span class="caret" ng-show="reverseSort"></span>
            </span>
        </span>
    </button>
</div>

</br>

<div class="row">
    <div class="col-md-4 col-xs-12"
         data-ng-repeat="player in players|orderBy:orderByField:reverseSort">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">{{player.name}}</div>
                <div class="panel-body">
                    <img ng-src="photos/{{player.name}}.png" onerror="this.src='photos/NoImage.png'" class="img-responsive img-circle pull-left" style="border:10px solid #eee; margin-right:20px;">
                    <div class="media-body">
                        <p>Appearances: {{player.appearances}}</p>
                        <p>Goals: {{player.goals}}</p>
                        <p>MOTMs: {{player.motm}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" ng-repeat="awards in seasonAwards">
    <div class="panel-heading">End of Season {{$index + 1}} Awards</div>
    <table class="table">
        <tr>
            <td><strong>Award</strong></td>
            <td><strong>Winner</strong></td>
        </tr>
        <tr>
            <td>Most Appearances</td>
            <td>{{awards.appearances}}</td>
        </tr>
        <tr>
            <td>Top Goalscorer</td>
            <td>{{awards.goalscorer}}</td>
        </tr>
        <tr>
            <td>Best Goals to Games Ratio</td>
            <td>{{awards.ratio}}</td>
        </tr>
        <tr>
            <td>Man of the Season</td>
            <td>{{awards.player}}</td>
        </tr>
    </table>
</div>
